<div class="container-lg">
  <div class="Header color-bg-pantone col-12">
    <div class="Header-item">
      <%= link_to root_path, class: "Header-link f4 d-flex flex-items-center" do %>
        <%= image_tag "smelts-logo.png", class: "mr-2" %>
        <span class="text-uppercase">Seacloud</span>
      <% end %>
    </div>
    <div class="Header-item">
      <input type="search" class="form-control input-dark" placeholder="permit number" />
    </div>
    <div class="Header-item">
      <%= octicon("person") %>
      <%= link_to("User Management", admin_users_url, class: "ml-2 Header-link") %>
    </div>
    <div class="Header-item">
      <%= octicon("check") %>
      <%= link_to("Access Requests", admin_access_requests_url, class: "ml-2 Header-link") %>
      <% if User.outstanding_access_requests.any? %>
        <span class="Counter ml-2"><%= User.outstanding_access_requests.count %></span>
      <% end %>
    </div>
    <div class="Header-item">
      <%= octicon("list-unordered") %>
      <%= link_to("Device File Uploads", device_uploads_path, class: "ml-2 Header-link") %>
    </div>
    <div class="Header-item">
      <%= octicon("file") %>
      <%= link_to("Upload Device File", new_device_upload_path, class: "ml-2 Header-link") %>
    </div>
    <div class="Header-item Header-item--full">
      <%= octicon("search") %>
      <%= link_to("Location Search", location_search_index_path, class: "ml-2 Header-link") %>
    </div>
    <div class="Header-item mr-0">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>
