<div class="container-lg">
  <div class="Header color-bg-pantone col-12">
    <div class="Header-item">
      <%= link_to root_path, class: "Header-link f4 d-flex flex-items-center" do %>
        <%= image_tag "smelts-logo.png", class: "mr-2" %>
        <span class="text-uppercase">Seacloud</span>
      <% end %>
    </div>
    <div class="Header-item Header-item--full">
    </div>
    <div class="Header-item">
      <%= link_to(new_device_upload_path, class: "ml-2 btn") do %>
        <%= octicon("upload") %> Upload Device File
      <% end %>
    </div>
    <div class="Header-item mr-0">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>
