<div class="container-lg mt-4">
  <div class="col-12">
    <h2>Upload a device file</h2>

    <%= form_for(@device_upload) do |f| %>
      <div class="form-group<%= @device_upload.errors[:fisher].any? ? " errored" : "" %>">
        <%= f.label :fisher_id %><br />
        <%= f.select :fisher_id, Fisher.all.collect { |p| [ p.full_name, p.id ] }, {}, { class: "form-select" } %>
      </div>

      <div class="form-group<%= @device_upload.errors[:uploaded_file].any? ? " errored" : "" %>">
        <%= f.label :uploaded_file %><br />
        <%= f.file_field :uploaded_file   %>
      </div>

      <div class="actions">
        <%= f.submit "Upload file", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
