<div class="container-lg mt-4">
  <div class="col-12">
    <h2>Users</h2>
  </div>
</div>

<div class="container-lg mt-4 d-flex">
  <div class="col-12">
    <div class="Box">
      <div class="Box-body">
        <table class="width-full">
          <thead>
          <tr class="border-bottom">
            <th>Full Name</th>
            <th>Access Needed</th>
            <th>E-mail address</th>
            <th>Permit Number</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr class="border-bottom">
              <td class="p-2 css-truncate css-truncate-overflow" style="width: 200px;" title="<%= user.full_name %>">
                <strong><%= user.full_name %></strong>
              </td>
              <td class="p-2">
                <%= user.class.name.titleize %>
              </td>
              <td class="p-2">
                <%= user.email %>
              </td>
              <td class="p-2">
                <% if user.is_a?(Fisher) %>
                  <%= user.permit_number %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="p-2">
                <div class="mr-2">
                  <% if user == current_user %>
                    <p class="note">Unable to deactivate your own account</p>
                  <% else %>
                    <%= form_for user, url: admin_access_request_path(user), html: {class: "d-inline-block"} do |f| %>
                      <%= hidden_field_tag("user[status]", :deactivated) %>
                      <%= f.button class: "btn btn-sm btn-danger" do %>
                        <%= octicon "trashcan" %>
                        Deactivate
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
          <% if @users.total_pages > 1 %>
            <tfoot>
            <tr>
              <td colspan="5">
                <%= will_paginate @users, previous_label: "Previous", next_label: "Next" %>
              </td>
            </tr>
            </tfoot>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
