<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RopelessWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body class="color-bg-pantone">
    <% if !user_signed_in? %>
      <%= render partial: "shared/signed_out" %>
    <% end %>
    <% if current_user_admin? %>
      <%= render partial: "shared/admin_nav" %>
    <% end %>
    <% if current_user_fisher? %>
      <%= render partial: "shared/fisher_nav" %>
    <% end %>
    <% if flash.keys.any? %>
      <div class="container-lg mt-2">
        <div class="col-12">
          <% if flash[:notice] %>
            <p class="flash flash-warn"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:success] %>
            <p class="flash flash-success"><%= flash[:success] %></p>
          <% end %>
          <% if flash[:alert] %>
            <p class="flash flash-error"><%= flash[:alert] %></p>
          <% end %>
          <% if flash[:error] %>
            <p class="flash flash-error"><%= flash[:error] %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
